﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f3f6f9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
#panel-send-message {
    box-shadow: inset 0 0 1px rgba(27, 59, 142, 0.29), 0 0 8px rgba(61, 65, 68, 0.45);
}

#MainContent_TextBoxMessage {
    max-width: 75%;
    max-height: 400px;
    height: 250px;
    resize: none;
}

#panel-files {
    margin-left: 50px;
    margin-right: 50px;
}

.message-label {
   padding-top: 7px;
}

.form-horizontal {
    padding-left: 5px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
